<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Add card</title>
  <meta name="description" content="Flask getting started">
  <meta name="author" content="SitePoint">

 <!--  <link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
    <h1>Add a card</h1>
    <form method="POST">
        <p>
           Question:
           <input type="text" name="question"> 
        </p>
        <p>
            Answer:
            <input type="text" name="answer"> 
         </p>

         <button type="submit"> Create</button>
    </form>

</body>
</html>